<!DOCTYPE html>
<html>
<head>
<title>AI Gender Detector</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>AI Gender Detection</h1>
<p>Upload a face image to detect gender</p>

<form action="/predict" method="post" enctype="multipart/form-data">

<label class="upload-box">
<input type="file" name="file" required>
<span>Choose Image</span>
</label>

<button type="submit">Predict</button>

</form>

</div>

</body>
</html>